<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand disabled" >Countdown</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li routerLinkActive="active current"><a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a></li>
        <li routerLinkActive="active current"><a class="nav-item nav-link" routerLink="/movies">Movies</a></li>
        <li routerLinkActive="active current"><a class="nav-item nav-link" routerLink="/books">Books</a></li>
        <li routerLinkActive="active current"><a class="nav-item nav-link" routerLink="/music">Music</a></li>
        <li routerLinkActive="active current"><a class="nav-item nav-link" routerLink="/events">Events</a></li>
        <li routerLinkActive="active current"><a class="nav-item nav-link" routerLink="/games">Games</a></li>
        <li routerLinkActive="active current"><a class="nav-item nav-link" routerLink="/settings">Settings</a></li>
      </ul>
    </div>
  </nav>