<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand disabled" >Countdown</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <!-- if the user is authenticated, this link will be visible/available -->
        <li routerLinkActive="active current" *ngIf="isAuthenticated"><a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a></li>
        <li routerLinkActive="active current"><a class="nav-item nav-link" routerLink="/movies">Movies</a></li>
        <li routerLinkActive="active current"><a class="nav-item nav-link" routerLink="/books">Books</a></li>
        <li routerLinkActive="active current"><a class="nav-item nav-link" routerLink="/music">Music</a></li>
        <li routerLinkActive="active current"><a class="nav-item nav-link" routerLink="/events">Events</a></li>
        <li routerLinkActive="active current"><a class="nav-item nav-link" routerLink="/games">Games</a></li>
        <li routerLinkActive="active current"><a class="nav-item nav-link" routerLink="/add-own-event">Add Event</a></li>

        <!-- if the user is authenticated, this link will be visible/available -->
        <li routerLinkActive="active current" *ngIf="isAuthenticated"><a class="nav-item nav-link" routerLink="/settings">Settings</a></li>
        <!-- if the user is not authenticated, this link will be visible/available -->
        <li routerLinkActive="active current" *ngIf="!isAuthenticated"><a class="nav-item nav-link" routerLink="/authentication">SignIn/Up</a></li>
        <!-- if the user is authenticated, this link will be visible/available -->
        <!-- clicking the link will sign the user out and redirect to the guest dashboard page  -->
        <li routerLinkActive="active current" *ngIf="isAuthenticated"><a class="nav-item nav-link" (click)="onLogout()">Logout</a></li>

      </ul>
    </div>
  </nav>
