


.login{
  margin-top: 8rem;
  padding: 2rem;
  border: 1px solid gray;
  border-radius: 1.1rem;

}

.or {
  margin-top: 1rem;
}

a{
  text-decoration:none !important;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
